.main
  padding: 20px

.heading
  display: flex
  justify-content: center
  font-size: 50px
  padding: 10px

.form
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px

.lyricsInput
  color: black
  padding: 20px
  width: 1000px
  height: 500px

.btn
  @apply font-bold py-2 px-4 rounded

.btnBlue
  @apply bg-blue-500 text-white

  &:hover
    @apply bg-blue-700
